
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.content-sidebar{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.content-sidebar > *:nth-child(1){
    flex: 1 1 70%;
    min-width: 30ch;
}
.content-sidebar > *:nth-child(2){
    flex: 1 1 25%;
    min-width: 15ch;
}
.item{
    flex-grow: 4;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}
a{
    text-decoration: snow;
    cursor: pointer;
    color: rgb(253, 253, 253);

}
header{
background-color:#C8A2C8;
}
header h2{
    text-transform: uppercase;
}
header nav{
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li{
        margin: 0 7px;

    }
}
    