*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-sidebar{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.content-sidebar > *:nth-child(1){
    flex: 1 1 70%;
    min-width: 30ch;
}
.content-sidebar > *:nth-child(1){
    flex: 1 1 25%;
    min-width: 15ch;
}
body{
    font-family: cursive;
}
ul,nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 20, 20);

}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: grid;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
    padding: 35px 100px 0;
}
header h2{
    text-transform: uppercase;
}
header nav{
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
}
header nav li{
    margin: 0 15px;

}
header nav li:first-child{
margin-left: 0;
}
header nav li:last-child{
    margin-right: 0;
    }
@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li{
        margin: 0 7px;

    }
}
    